.title-info-product {
  font-size: 2rem;
}
.subtitle-product {
  font-size: 0.8rem;
  font-weight: 700;
  color: var(--bgPrimaryColor);
}
.text-info-product {
  font-size: 0.8rem;
  color: var(--GrayishBlue);
}
