.container-items-products {
  width: 100%;
  min-height: 8rem;
  max-height: 12rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 0 0 1rem 0;
}
.my-card {
  width: 22rem;
  margin-top: 0;
}
@media screen and (min-width: "1200px") {
  .my-card {
    width: 25rem;
    margin-top: 0;
  }
}
